<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>VerificarAutenticidad</filter-name>
        <filter-class>Filter.VerificarAutenticidad</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>VerificarAutenticidad</filter-name>
        <servlet-name>ServletAlcanzar</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletAlcanzar</servlet-name>
        <servlet-class>Filter.ServletAlcanzar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlcanzar</servlet-name>
        <url-pattern>/ServletAlcanzar</url-pattern>
    </servlet-mapping>
</web-app>
